In [50]:
import pandas as pd
import numpy as np

In [16]:
# read online retail data
# create a dictionary mapping items to their <int codes>
# create transactions which are items grouped by InvoiceNo
# https://www.kaggle.com/heeraldedhia/groceries-dataset?select=Groceries_dataset.csv

columns = ['Member_number','Date','itemDescription']
df = pd.read_csv('data/Groceries_dataset.csv')
# remove all null entries
df = df.dropna()

In [32]:
# df

In [24]:
# extract all unique values from the itemDescription column
itemNames = df['itemDescription'].unique()
itemNames = itemNames.tolist()
itemNames = itemNames.sort()
# integer map itemNames to integers
itemNamesMap = {}
for i in range(len(itemNames)):
    itemNamesMap[itemNames[i]] = i

In [28]:
# replace itemDescription with integer codes
df['itemDescription'] = df['itemDescription'].map(itemNamesMap)
transactions = df.groupby(['Member_number', 'Date'])['itemDescription'].unique().reset_index()

In [31]:
transactions

       Member_number        Date           itemDescription
0               1000  15-03-2015          [18, 1, 102, 17]
1               1000  24-06-2014               [1, 23, 79]
2               1000  24-07-2015                  [24, 27]
3               1000  25-11-2015                  [18, 95]
4               1000  27-05-2015                  [37, 61]
...              ...         ...                       ...
14958           4999  24-01-2015  [0, 25, 3, 17, 131, 113]
14959           4999  26-12-2015                  [16, 36]
14960           5000  09-03-2014                  [11, 65]
14961           5000  10-02-2015             [37, 21, 102]
14962           5000  16-11-2014                   [49, 3]

[14963 rows x 3 columns]

In [49]:
# write itemNamesMap to file
with open('data/grocery_itemNamesMap.txt', 'w') as f:
    for key in itemNamesMap:
        f.write(key + ',' + str(itemNamesMap[key]) + '\n')

# write transactions to file
with open('data/grocery.txt', 'w') as f:
    for i in range(len(transactions)):
        tempSize = len(transactions.iloc[i]['itemDescription'])
        for j in range(tempSize):
            if j == tempSize - 1:
                f.write(str(transactions['itemDescription'][i][j]) + '\n')
            else:
                f.write(str(transactions['itemDescription'][i][j]) + ',')